html,
body {
    height: 100%;
    margin: 0;
}



// custom action buttons
.action-btn {
    @apply m-2;
    &.p-button-icon-only {
        &.p-button-info {
            @apply bg-blue-500/5 !important;

            &:hover {
                @apply bg-blue-500/20 !important;
            }
        }

        &.p-button-success {
            @apply bg-green-500/5 !important;

            &:hover {
                @apply bg-green-500/20 !important;
            }
        }

        &.p-button-warning {
            @apply bg-yellow-500/5 !important;

            &:hover {
                @apply bg-yellow-500/20 !important;
            }
        }

        &.p-button-danger {
            @apply bg-red-500/5 !important;

            &:hover {
                @apply bg-red-500/20 !important;
            }
        }

        &.p-button-help {
            @apply bg-purple-500/5 !important;

            &:hover {
                @apply bg-purple-500/20 !important;
            }
        }
    }
}

// label for button
.bold-label {
    .p-button-label,
    .p-button-icon {
        font-weight: 600;
    }
}

.super {
    @apply bg-red-400 text-surface-0;
}

.admin {
    @apply bg-yellow-400 text-surface-0;
}

.user {
    @apply bg-gray-400 text-surface-0;
}

.highlight {
    @apply font-bold py-1 px-2 text-center rounded-lg;
}

.logo {
    &.p-image {
        width: 2rem;
        height: auto;
        margin-right: 0.5rem;
    }
}

.card , .layout-sidebar , .layout-topbar{
    box-shadow: rgba(47, 43, 61, 0.12) 0px 2px 8px 0px;
}

.small-drawer {
    width: 25rem !important;
    @media screen and (max-width: 576px) {
        width: 100% !important;
    }
}

.toggleStatusBtn {
    width: 100%;

    & button {
        width: 50%;
    }
}