:root {
    --black-clr: #191919;
    --white-clr: #fff;
    --primary-clr: #007bff;
    --secondary-clr: #6c757d;
    --success-clr: #28a745;
    --danger-clr: #dc3545;
    --warning-clr: #ffc107;
    --info-clr: #17a2b8;
    --light-clr: #f8f9fa;
    --dark-clr: #343a40;
    --primary-contrast-clr: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.5;
}



h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 0 0 1rem 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
