:root {
    --black-clr: #191919;
    --white-clr: #fff;
    --primary-clr: #007bff;
    --secondary-clr: #6c757d;
    --success-clr: #28a745;
    --danger-clr: #dc3545;
    --warning-clr: #ffc107;
    --info-clr: #17a2b8;
    --light-clr: #f8f9fa;
    --dark-clr: #343a40;
    --primary-contrast-clr: #fff;
}
