/* You can add global styles to this file, and also import other style files */
@use "@/assets/tailwind.css";
@import "@/assets/layout/layout.scss";
@import "primeicons/primeicons.css";
@import "@tabler/icons-webfont/dist/tabler-icons.min.css";

//fonts
// Noto
@font-face {
    font-family: "Noto";
    src: url("@/assets/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-style: normal;
    font-weight: 100 1000;
}

@font-face {
    font-family: "Noto";
    src: url("@/assets/fonts/Noto_Sans/NotoSans-Italic-VariableFont_wdth,wght.ttf")
        format("truetype");
    font-style: italic;
    font-weight: 100 1000;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-ThinItalic.ttf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}
