/* You can add global styles to this file, and also import other style files */
@import "@/assets/layout/layout.scss";
@import "primeicons/primeicons.css";

// fonts


// lato
@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("@/assets/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato Black"),
        local("Lato-Black"),
        url("@/assets/fonts/Lato/Lato-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato Black Italic"),
        local("Lato-BlackItalic"),
        url("@/assets/fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato Bold"),
        local("Lato-Bold"),
        url("@/assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato Bold Italic"),
        local("Lato-BoldItalic"),
        url("@/assets/fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato Italic"),
        local("Lato-Italic"),
        url("@/assets/fonts/Lato/Lato-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato-LightItalic"),
        url("@/assets/fonts/Lato/Lato-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato-Light"),
        url("@/assets/fonts/Lato/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato Hairline";
    src:
        local("Lato-Hairline"),
        url("@/assets/fonts/Lato/Lato-Hairline.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Lato Hairline";
    src:
        local("Lato-HairlineItalic"),
        url("@/assets/fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src:
        local("Lato Regular"),
        local("Lato-Regular"),
        url("@/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


// plus jakarta sans

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Bold'), local('PlusJakartaSans-Bold'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans ExtraBold'), local('PlusJakartaSans-ExtraBold'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Bold Italic'), local('PlusJakartaSans-BoldItalic'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans ExtraLight'), local('PlusJakartaSans-ExtraLight'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans ExtraBold Italic'), local('PlusJakartaSans-ExtraBoldItalic'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans ExtraLight Italic'), local('PlusJakartaSans-ExtraLightItalic'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Italic'), local('PlusJakartaSans-Italic'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Light'), local('PlusJakartaSans-Light'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Light Italic'), local('PlusJakartaSans-LightItalic'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Medium'), local('PlusJakartaSans-Medium'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Regular'), local('PlusJakartaSans-Regular'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans Medium Italic'), local('PlusJakartaSans-MediumItalic'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans SemiBold'), local('PlusJakartaSans-SemiBold'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans SemiBold Italic'), local('PlusJakartaSans-SemiBoldItalic'),
        url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}


